<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="server" value="192.168.1.230" />
    <add key="searchBaseDNs" value="OU = Test Users1,O = Red Kestrel;OU = Test Users2,O = Red Kestrel" />
    <add key="warningPeriodInDays" value="90" />
    
    
    
    
    
    <!-- Comment these lines out to use anonymous binding -->
    <add key="username" value="admin" />
    <add key="password" value="Top111Secret" />


    <!-- *******************************  Email Configuration *************************************-->
    
    <!-- Set EmailReports true if you wish to receive an email report at the end of each run -->
    <add key="EmailReports" value="false"/>
    
    <add key="MailFrom" value="dsc-noreply@yourdomain.com"/>

    <add key="MailFromDisplayName" value="Directory CertChecker"/>

    <!-- separate multiple recipients with a comma -->
    <add key="MailTo" value="admin1@yourdomain, admin2@youdomain, rickd@yourdomain"/>

    <!-- Set this value to the SMTP server that can be used to send reports and alerts -->
    <add key="SMTPServer" value="smtp.yourdomain"/>

    <!-- Uncomment and set the port value below if your SMTP server uses a port other than 25 -->
    <!-- To uncomment a line remove the comment tags that surround it -->
    <!-- <add key="SMTPPort" value="587" /> -->

    <!-- Uncommnet and set the 4 lines below if your SMTP server requires authentication -->
    <!--
    <add key="SMTPRequiresAuthentication" value="true" />
    <add key="SMTPUser" value="yourusername@gmail.com" />
    <add key="SMTPPassword" value="yourgmailpassword" />
    <add key="SMTPUseSsl" value="true" />  
    -->
    <!-- *******************************  End Email Configuration *********************************-->
     
  </appSettings>
</configuration>