<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="server" value="192.168.1.230" />
    <add key="searchBaseDn" value="OU = Test Users,O = Red Kestrel" />
    <add key="warningPeriodInDays" value="90" />
    
    <!-- Comment these lines out to use anonymous binding -->
    <add key="username" value="admin" />
    <add key="password" value="Top111Secret" />
     
  </appSettings>
</configuration>